body {
font-family: Verdana, Geneva, sans-serif;
width: 900px;
}

h1{
font-size: 37px;
line-height: 46px;
font-family: tahoma, helvetica, sans-serif;
color: #000000;
}

h2{
font-size: 25px;
line-height: 38px;
font-family: tahoma,helvetica, sans-serif;
}

h3{
color: #666;
}

p{
line-height: 27px;
color: #333;
}

.tamañoLetra {
font-size: 18px;
}